attrs==20.2.0
autobahn==20.7.1
Automat==20.2.0
backtrader==1.9.76.123
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
constantly==15.1.0
cryptography==3.1.1
cycler==0.10.0
dateparser==0.7.6
hyperlink==20.0.1
idna==2.10
incremental==17.5.0
kiwisolver==1.2.0
matplotlib==3.2.2
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy==1.19.2
pandas @ file:///opt/concourse/worker/volumes/live/f615845e-c5fe-4fc8-4a20-aedb5c26671e/volume/pandas_1601567264760/work
Pillow==7.2.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyHamcrest==2.0.2
pyOpenSSL==19.1.0
pyparsing==2.4.7
python-binance==0.7.5
python-dateutil==2.8.1
pytz==2020.1
regex==2020.10.23
requests==2.24.0
scipy @ file:///opt/concourse/worker/volumes/live/7f5e51f8-abf3-4409-4c56-a4fb14cc9869/volume/scipy_1593104185999/work
service-identity==18.1.0
six==1.15.0
Twisted==20.3.0
txaio==20.4.1
tzlocal==2.1
urllib3==1.25.11
zope.interface==5.1.2
